<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"> Регистрация </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

<div style="margin-left: 10px">
<h1>Регистрация</h1>

    <div th:if="${error}" style="color:red; margin-bottom: 10px">
        <span th:text="${error}"></span>
    </div>

    <form method="post" action="/register">
        <div style="margin-top: 10px">
            <input type="text" name="username" placeholder="Логин" required>
        </div>
        <div style="display: flex; gap: 20px; margin-top: 10px">
            <div>
                <input type="password"
                       name="password"
                       placeholder="Новый пароль"
                       required
                       minlength="5">
            </div>

            <div style="font-size: 14px">
                <b>Пароль должен:</b>
                <ul style="margin: 5px 0 0 15px">
                    <li>быть не короче 5 символов</li>
                    <li>содержать 1 заглавную букву</li>
                    <li>содержать 1 цифру</li>
                </ul>
            </div>

        </div>
        <div style="margin-top: 10px">
            <select name="role" required>
                <option value="">Выбери роль</option>
                <option value="BUYER">Покупатель</option>
                <option value="SELLER">Продавец</option>
            </select>
        </div>
        <button type="submit" style="margin-top: 10px">Зарегистрироваться</button>
    </form>
</div>

<footer th:insert="~{blocks/footer :: footer}"></footer>
</body>
</html>