<div th:fragment="footer">
    <div class="container">
        <footer class="d-flex align-items-center justify-content-between py-5 my-5 border-top">
            <!-- Левая часть футера -->
            <div>
                <h5>SIGMA</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/blog" class="nav-link p-0 text-body-secondary">Блог</a></li>
                    <li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-body-secondary">Пояснительная бригада</a></li>
                </ul>
                <p class="text-body-secondary">
                    © 2025
                </p>
            </div>

            <!-- Картинка справа -->
            <div class="ms-auto">
                <img src="/images/жакфреско.jpeg" alt="SIGMA" style="max-width:600px; height:auto;">
            </div>
        </footer>
    </div>
</div>
