<div th:fragment="header">
    <header data-bs-theme="dark">
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="/blog" class="navbar-brand d-flex align-items-center">
                    Альбом / блог
                </a>
                <a href="/about" class="navbar-brand d-flex align-items-center">
                    Пояснительная бригада
                </a>
                <a href="/blog/add" class="navbar-brand d-flex align-items-center">
                    Добавить новую статью
                </a>
            </div>
        </div>
    </header>
</div>